<div>
  <div class="row first-row">
    <div class=" large-8 medium-push-4 medium-8 columns ">
      <% if @posts.empty? %>
          <h4 class="no-posts-message">There are no posts yet... Stay tuned</h4>
      <% end %>

      <% @posts.each do |post| %>
          <article>
            <h1>
              <%= link_to(post.title.capitalize, post)%>
            </h1>
            <h6 class="date">
              <%= post.created_at.strftime("%B %d, %Y") %>
              <% if post.tags.any? %>
                  |
                  <% post.tags.each do |post_tag| %>
                      #<%= link_to(post_tag.name.downcase, post_tag) %>
                  <% end %>
              <% end %>
            </h6>
            <p>
              <!--Display 20% of the post body-->
              <%= post.body[0..post.body.length*20/100].html_safe %>
            </p>
            <p>
              <%= link_to("Continue reading →", post) %>
            </p>
          </article>
      <% end %>
      <%= paginate @posts %>
    </div>

    <div class="large-4 medium-4 medium-pull-8 columns">
      <aside class="blog-sidebar">
        <% if user_signed_in? %>
            <p>
              <%= link_to 'New Post', new_post_path %>
            </p>
        <% end %>
        <h5>Tags:</h5>
        <ul>
          <% @tags.each do |tag| %>
              <li>
                <%= link_to(tag.name.capitalize, tag) %>
              </li>
          <% end %>
        </ul>
        <p>
          <%= link_to("Blog Archive", blog_archive_path) %>
        </p>
        <p>
          <%= link_to ' Subscribe', "http://www.francesca.ga/feed.rss", target: "_blank", class: "fa fa-rss-square" %>
        </p>
      </aside>
    </div>
  </div>
</div>
