<div>
  <div class="row first-row">
    <div class="small-12 medium-9 large-8 columns small-centered">
      <p>
        <%= link_to("â† All Posts", root_path) %>
        <% if user_signed_in? %>
            | <%= link_to 'Edit Post', edit_post_path(@post) %>
        <% end %>
      </p>
      <article class="show_post_article">
        <h1>
          <%= @post.title.capitalize %>
        </h1>
        <h6 class="date">
          <%= @post.created_at.strftime("%B %d, %Y") %>
          <% if @post.tags.any? %>
              |
              <% @post.tags.each do |post_tag| %>
                  #<%= link_to(post_tag.name.downcase, tag_path(post_tag.name.downcase)) %>
              <% end %>
          <% end %>
        </h6>

        <p>
          <%= @post.body %>
        </p>
        <p class="byline">
          Author:
          <% if @post.author %>
              <%= link_to(@post.author.username.capitalize, about_path, rel: "author") %>
          <% end %>
        </p>

        <!-- <ul class="social-inline">
          <li>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="jeremiahshoaf" data-dnt="true" data-url="http://www.jeremiahshoaf.com/blog/gumroad-vs-e-junkie-whats-the-best-way-to-sell-your-digital-products">Tweet</a>
          </li>
          <li>
            <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-href="http://www.jeremiahshoaf.com/blog/gumroad-vs-e-junkie-whats-the-best-way-to-sell-your-digital-products"></div>
          </li>
          <li>
            <div class="g-plusone" data-size="medium" data-href="http://www.jeremiahshoaf.com/blog/gumroad-vs-e-junkie-whats-the-best-way-to-sell-your-digital-products"></div>
          </li>
        </ul> -->

        <!-- Place this tag after the last +1 button tag. -->
        <!--<script type="text/javascript">-->
<!--//          (function() {-->
<!--//            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;-->
<!--//            po.src = 'https://apis.google.com/js/platform.js';-->
<!--//            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);-->
<!--//          })();-->
        <!--</script>-->

        <br>
        <br>
        <br>
      </article>

      <div class="comments">

        <%= render 'disqus' %>

      </div>

    </div>
  </div>
</div>
