<div>
  <div class="row first-row">
    <div class="small-12 medium-9 large-8 columns small-centered">
      <p>
        <%= link_to("â† All Posts", root_path) %>
        <% if user_signed_in? %>
            | <%= link_to 'Edit Post', edit_post_path(@post) %>
        <% end %>
      </p>
      <article class="show_post_article">
        <h1>
          <%= @post.title.capitalize %>
        </h1>
        <h6 class="date">
          <%= @post.created_at.strftime("%B %d, %Y") %>
          <% if @post.tags.any? %>
              |
              <% @post.tags.each do |post_tag| %>
                  #<%= link_to(post_tag.name.downcase, tag_path(post_tag.name.downcase)) %>
              <% end %>
          <% end %>
        </h6>

        <div>
          <%= @post.body.html_safe %>
        </div>
        <p class="byline">
          Author:
          <% if @post.author %>
              <%= link_to(@post.author.username.capitalize, about_path, rel: "author") %>
          <% end %>
        </p>

        <div class="social-inline">
          <h5>Share this post:</h5>
          <a class="fa fa-twitter fa-2x"
             onclick="window.open('https://twitter.com/intent/tweet?text=<%= @post.title %> by @Mandarina_P - &amp;url=<%= url_for([@post, {only_path: false}])%>', '_blank', 'width=800, height=500, top=200, left= 300'); void(0);">
          </a>
          <a class="fa fa-facebook fa-2x"
             onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= url_for([@post, {only_path: false}])%>', '_blank', 'width=800, height=500, top=200, left= 300'); void(0);">
          </a>
          <a class="fa fa-google-plus fa-2x"
             onclick="window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}])%>', '_blank', 'width=800, height=500, top=200, left= 300'); void(0);">
          </a>
        </div>
      </article>

      <div class="comments">

        <%= render 'disqus' %>

      </div>

    </div>
  </div>
</div>
