<div class="row">
  <div class="small-12 medium-7 large-7 columns">
    <h2>About Page Header</h2>
    <p>
      Check out the <a href="http://www.typeandgrids.com/support" target="_blank">Getting Started Guide and FAQ <i class="fa fa-external-link"></i></a> for lots of helpful tips. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed lacus id sem pellentesque imperdiet. Morbi magna arcu, aliquam sit amet arcu id, feugiat ultrices felis. Aliquam laoreet rutrum diam, eget mattis odio imperdiet in. Quisque in felis et neque fermentum volutpat.
    </p>

    <h3>Sample Subheader</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed lacus id sem pellentesque imperdiet. Morbi magna arcu, aliquam sit amet arcu id, feugiat ultrices felis. Aliquam laoreet rutrum diam, eget mattis odio imperdiet in. Quisque in felis et neque fermentum volutpat.
    </p>

    <blockquote>
      <p>&#8220;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ante arcu, quis auctor sapien. Morbi magna leo, dapibus a pulvinar et, pharetra scelerisque felis. Mauris massa magna, gravida vitae convallis sagittis, sagittis ac ipsum. Integer arcu justo, vehicula vel accumsan ac, venenatis in massa. Curabitur in dui in urna interdum ullamcorper. Pellentesque ut imperdiet libero.&#8221;
        <cite>Carrie Brownstein</cite></p>
    </blockquote>
  </div>
  <div class="small-12 medium-5 large-5 columns">
    <p>
      <%= image_tag("about-photo.png", alt: "Francesca Galluzzi Photo") %>
    </p>
    <div class="lined-list">
      <ul>
        <li>
          <strong>Location:</strong> Bournemouth, UK
        </li>
        <li>
          <strong>Twitter:</strong> <%= link_to("@Mandarina_P", "https://twitter.com/Mandarina_P", target: "_blank") %>
        </li>
        <li>
          <strong>LinkedIn:</strong> <%= link_to("Francesca Galluzzi", "https://www.linkedin.com/in/francescagalluzzi/en", target: "_blank") %>
        </li>
        <li>
          <strong>GitHub:</strong> <%= link_to("FrancyGallu", "https://github.com/FrancyGallu", target: "_blank") %>
        </li>
        <li>
          <strong>Résumé:</strong> <%= link_to("resume.pdf", "", target: "_blank") %>
        </li>
      </ul>
    </div>
  </div>
</div>